body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

p {
    font-style: italic;
    margin-top: 5px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

article {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Couleurs spécifiques pour les sections */
#informations-personnelles, #education, #competences {
    background-color: #ecf0f1;
}

#experiences, #formations-universitaires, #formations-professionnelles, #formations-certifiees {
    background-color: #d4e6f1;
}

#langues, #aptitudes, #references {
    background-color: #d0e8f2;
}


